html {
  background-color: #f2f1ed;
  font-family: "Patua One", cursive;
  line-height: 1.5;
}

img {
  width: 100%;
}

ol li {
  color: #5d8432;
}

.nav a:link {
  color: #793284;
  font-weight: bold;
  text-decoration: none;
}

.nav a:hover {
  color: #b42885;
}

ol {
  list-style-type: none;
  font-size: 1.125rem;
}

h2 {
  color: #5d8432;
  font-size: 1.5rem;
  text-transform: uppercase;
}

figcaption {
  color: black;
  font-family: Georgia, serif;
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

.intro {
  font-size: 1rem;
}
